nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight-100;
    font-style: normal;
}

.btn-primary {
    background-color: #4E47FF;
    width: 132px;
    height: 48px;
    padding: 36px 12px;
    margin: 10px;
    border-radius: 10px;
    font-size: bold 16px;
    color: #FFFFFF;
    font-weight: 60px
}

.banner-text {
    text-align: center;
    color: #252432;
    font-family: "Raleway", sans-serif;
    font-size: bold 65px;
    font-weight: 905px;


}

.header {
    background-image: url("../Assets/Hero-bg.png");

    background-position: 1440px 698px;
    margin: 158px;
    padding: 0px 0px 200px 0px;
}

.btn-primary {
    background-color: #4E47FF;
    width: 229px;
    height: 48px;
    padding: 36px 12px;
    margin: 10px;
    border-radius: 10px;
    font-size: bold 16px;
    color: #FFFFFF;
    font-weight: 157px 24px;
    font-family: "Raleway", sans-serif;
}

.holding {
    text-align: left;
    font-weight: 557px 49px;
    font-size: bold 42px;
    color: #252432;
    font-family: "Raleway", sans-serif;
}

.binding {
    text-align: left;
    font-weight: 557px 60px;
    font-size: normal 24px;
    color: #252432;
    font-family: "Raleway", sans-serif;
}

.second {
    display: flex;
    justify-content: space-between;


}

.regular {
    background-color: #4E47FF;
    width: 229px;
    height: 48px;
    padding: 36px 12px;
    margin: 10px;
    border-radius: 10px;
    font-size: bold 16px;
    color: #FFFFFF;
    font-weight: 157px 24px;
    font-family: "Raleway", sans-serif;
}

.section2 {

    display: flex;
    margin-left: 800px;
    margin-bottom: 500px;
    margin-right: 800px;
    color: #110d8e;
    background-color: #b3b1eb;
    border-radius: 24px;
}




.section {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: bold 38px;
    font-weight: 856px 45px;

}

.tumi {
    font-size: 30px;
}

.tumra {
    font-size: 30px;
    ;
}

.she {
    font-size: 30px;
}